<nav style="background-color:lightgray; padding: 10px;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    
    <h2>Home Banking</h2>
    
    <ul style="list-style: none; display: flex; gap: 20px; margin: 0; padding: 0;">
      <li><a routerLink="/deposit" style="text-decoration: none; color:black;">Deposit</a></li>
      <li><a routerLink="/withdrawal" style="text-decoration: none; color: black;">Withdrawal</a></li>
      <li><a routerLink="/transactions" style="text-decoration: none; color: black;">Transactions</a></li>
      <li><a routerLink="/balance" style="text-decoration: none; color: black;">Balance</a></li>
      <li><a routerLink="/convert-fiat" style="text-decoration: none; color: black;">Convert Fiat</a></li>
      <li><a routerLink="/convert-crypto" style="text-decoration: none; color: black;">Convert Crypto</a></li>
    </ul>
  </div>
</nav>
