<div>
    <h2>Withdrawal</h2>
    <p>Here you can withdraw funds from your account.</p>
    <form (ngSubmit)="onWithdraw()">
        <label for="amount">Amount: </label>
        <input type="number" id="amount" name="amount" [(ngModel)]="withdrawalAmount" required min="5">
        <select name="currency" id="currency" [(ngModel)]="currency" required>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <button type="submit">Withdraw</button>
    </form>
</div>
